<section class="cart-preview-container">
  <ng-container *ngIf="cartProducts.length > 0">
    <div class="cart-preview-list">
      <mat-card *ngFor="let product of cartProducts">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-sm-image [src]="product.picture" />
            <mat-card-title
              ><span class="max-lines-2"
                >{{ product.quantity }} x {{ product.title }}</span
              ></mat-card-title
            >
            <mat-card-subtitle>{{
              product.unitPrice | currency
            }}</mat-card-subtitle>
            <mat-card-subtitle
              >TOTAL {{ product.total | currency }}</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="pay-button-container">
      <button
        mat-raised-button
        routerLink="/pages/cart"
        color="primary"
        class="pay-button"
        (click)="onGoToShopping()"
      >
        Go to pay
      </button>
    </div>
  </ng-container>
</section>
<section *ngIf="cartProducts.length === 0" class="cart-empty-container">
  <img src="assets/images/cart-empty.png" />
  <h2>Your cart is empty</h2>
  <p>Let's go for shopping and add some products!</p>
  <button mat-raised-button color="primary" (click)="onGoToShopping()">
    Go to shopping
  </button>
</section>
