<div class="container">
  <h1 mat-dialog-title>Checkout</h1>
  <div mat-dialog-content class="form">
    <mat-form-field>
      <mat-label>Your identification number</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 123456"
        [(ngModel)]="order.identificationNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your address</mat-label>
      <textarea
        matInput
        placeholder="Ex. Cra. 81F bis #34-9"
        [(ngModel)]="order.address"
      ></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
      mat-raised-button
      [mat-dialog-close]="order"
      cdkFocusInitial
      color="primary"
    >
      Place order
    </button>
  </div>
</div>
